[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/flake8"]
	path = .vim/bundle/flake8
	url = https://github.com/nvie/vim-flake8
[submodule ".vim/bundle/pylint"]
	path = .vim/bundle/pylint
	url = https://github.com/orenhe/pylint.vim
[submodule ".vim/bundle/autotag"]
	path = .vim/bundle/autotag
	url = https://github.com/craigemery/vim-autotag
[submodule ".vim/bundle/capnp"]
	path = .vim/bundle/capnp
	url = https://github.com/cstrahan/vim-capnp
[submodule ".vim/bundle/clighter"]
	path = .vim/bundle/clighter
	url = https://github.com/bbchung/clighter
