[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/flake8"]
	path = .vim/bundle/flake8
	url = https://github.com/nvie/vim-flake8
[submodule ".vim/bundle/pylint"]
	path = .vim/bundle/pylint
	url = https://github.com/orenhe/pylint.vim
