[user]
	name = Kosma Moczek
    email = kosma@kosma.pl

[alias]
    ci = commit
    staged = diff --cached
    unstage = reset HEAD
    ss = status --short
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[push]
    #default = simple
