[core]
	editor = vim
	symlinks = true
[user]
	name = Kosma Moczek
	email = kosma@kosma.pl
[alias]
	ci = commit
	staged = diff --cached
	unstage = reset HEAD
	s = status
	ss = status --short --branch
	lg  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)%an <%ae>%Creset' --abbrev-commit
	out = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)%an <%ae>%Creset' --abbrev-commit --branches --not --remotes
	in  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)%an <%ae>%Creset' --abbrev-commit --remotes --not --branches
	rollback = reset --soft HEAD~1
	discard = reset --hard HEAD~1
	unstash = stash pop
	squash-all = !git reset $(git commit-tree -m 'initial commit' 'HEAD^{tree}')
	last-tag = describe --tags --abbrev=0
[push]
	default = current
[color]
	ui = auto
[log]
	decorate = full
[branch]
	autosetuprebase = always
[achievement]
	upload = true
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = kosma@kosma.pl
	from = kosma@kosma.pl
	suppresscc = all
	confirm = always
	chainreplyto = false
	aliasesfile = ~/.gitaliases
	aliasfiletype = mutt
[diff]
	algorithm = histogram
#[format]
#	attach = PATCH
[merge]
	tool = vimdiff3
[init]
	defaultBranch = main
